<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.jonpas.org/asel/ASEL"
			class = "org.jonpas.asel.asel.AselPackage"
			genModel = "model/generated/ASEL.genmodel" />
	</extension>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.jonpas.org/asel/ASELh"
			class = "org.jonpas.asel.aselh.AselhPackage"
			genModel = "model/generated/ASELh.genmodel" />
	</extension>
</plugin>
